.blockquote {
  color: var(--pink) !important;
  font-family: "Poppins Bold", sans-serif !important;
  font-style: italic;
}

.cite {
  color: var(--dark-orange) !important;
  font-style: italic !important;
}

.right-welcome {
  background: linear-gradient(
    to bottom right,
    var(--dark-orange),
    var(--light-pink)
  );
  color: white;
}

.login-button {
  background-color: white !important;
  color: var(--pink) !important;
  transition: transform 0.5s ease !important;
  max-width: fit-content !important;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08), 0 4px 8px rgba(0, 0, 0, 0.06) !important;
}

.login-button:hover {
  transform: scale(1.1) !important;
  color: var(--dark-green) !important;
}
