:root {
  --light-grey: #e5e3e6;
  --dark-yellow: #ffbc42;
  --dark-orange: #f6a22d;
  --dark-purple: #8f2d56;
  --pink: #d81159;
  --light-pink: #ea7e89;
  --dark-green: #218380;
  --lavander: #879bf4;
  --light-lavander: #a1aff6;
  --blue: #73d2de;
  --dark-blue: #0f121f;
  --white: #ffffff;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("./assets/fonts/Poppins-Bold.ttf");
}
