:root {
  --body-background: #e5e3e6;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

body {
  background-color: var(--body-background);
  font-family: "Poppins", sans-serif;
}
